
body{
    margin:0px;
    display: grid;
    grid-template-areas:
    "nav menu"
     "header" 
     "main" 
     "footer";
    grid-template-rows: 1fr 1f 1fr 3fr 1fr;
    grid-template-columns: 1fr;
    
}

section{
    padding-bottom: 10%;
}


header{
    grid-area: "header";
    background: linear-gradient(grey, lightblue,white);
    min-height: 50px;
    max-height: 360px;
    
}


.headerContent{

    display:flex;
    flex-direction: row;
}


.headerText{

    display: flex;
    flex-direction: column;
    background-color: transparent;
    width:60%;

}

/*font used for the subtitle of the webpage*/
h1{   
    margin: auto;
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    text-shadow: 2px 2px 4px silver;
}

/*Font used for the top-most text of the web page */
h2{
    font-family: "Playwrite DK Loopet Guides", serif;
    margin: auto;
    font-weight: 400;
    font-style: normal;
    padding: 20px;
}


p{

}

li a{
    text-decoration: none;
    color: lightseagreen;
}
li a:hover{
    color: forestgreen;
}

.headerImage
{
    padding-right: 0;
    margin-left: auto;
    border-radius: 5px;
    
}



.navMenu{
    background:linear-gradient(white, lightblue,grey);
    position: sticky;
    top: 0;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    

}

.navMenu a{
    color: black;
    margin: auto;
    width: 100px;
    text-align: center;
    /*background:radial-gradient(circle at left, transparent 80%, black 82%),radial-gradient(circle at right, transparent 80%, lightblue);
    border-radius: 10px 10px 10px 0px;*/
    background: transparent;
    border-radius: 10px;
    height: 30px;
    line-height: 30px;
}

.navMenu a:hover{
    color: darkcyan;
    background-color: rgb(226, 234, 241);
   
}   


main{
    grid-area: "main";

}



/* container for the image gallery collection*/
.gallery{
    margin: auto;
    width: 100%;
    display: inline;
}

/*The image collection shown in the gallery*/
.galleryImg{
    display: inline;
    margin: 1%;
    width: 20%;
    border-radius: 30px;
    box-shadow: 1px 3px 8px 3px grey;
}

/*Container for the contact form */
.formContact{

    grid-template-columns: 100px 300px;
    border: 10px solid aliceblue;

    display: grid;
    row-gap: 10px;
    column-gap: 5px;

    margin: auto;
    width: fit-content;
}

.formContact label{
    padding:5px;

}

.formContact textarea{
    height: 200px;
}

.buttonSubmit{
    grid-column-start: 2;
    grid-column-end: 2;
    margin: auto;
}
footer{
    grid-area: "footer";
    background: linear-gradient(white,lightblue, grey);
    min-height: 100px;
}