
body{
    margin:0px;
}

section{
    padding-bottom: 10%;
}


header{
    background: linear-gradient(grey, lightblue,white);
    min-height: 50px;
    max-height: 360px;
    
}


.headerContent{

    display:flex;
    flex-direction: row;
}


.headerText{

    display: flex;
    flex-direction: column;
    background-color: transparent;
    width:60%;

}

/*font used for the subtitle of the webpage*/
h1{   
    margin: auto;
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    text-shadow: 2px 2px 4px silver;
}

/*Font used for the top-most text of the web page */
h2{
    font-family: "Playwrite DK Loopet Guides", serif;
    margin: auto;
    font-weight: 400;
    font-style: normal;
    padding: 20px;
}


li a{
    text-decoration: none;
    color: lightseagreen;
}
li a:hover{
    color: forestgreen;
}

.headerImage
{
    padding-right: 0;
    margin-left: auto;
    border-radius: 5px;
    
}



.navMenu{
    background:linear-gradient(white, lightblue,grey);
    position: sticky;
    top: 0;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    

}

.navMenu a{
    color: black;
    margin: auto;
    width: 100px;
    text-align: center;
    /*background:radial-gradient(circle at left, transparent 80%, black 82%),radial-gradient(circle at right, transparent 80%, lightblue);
    border-radius: 10px 10px 10px 0px;*/
    background: transparent;
    border-radius: 10px;
    height: 30px;
    line-height: 30px;
}

/*
Here the Psuedo-class :hover has been used to highlight the selected tab of the nav menu
works by checking the state of the navMenu object and when triggered by mouse-over applies the style changes 
*/
.navMenu a:hover{
    color: darkcyan;
    background-color: rgb(226, 234, 241);
   
}   




/* container for the image gallery collection*/
.gallery{
    margin: auto;
    width: 100%;
    display: grid;
    grid-template-areas: 
    "row1"
    "row2";
    grid-template-columns: 1fr 1fr 1fr;
    
}

/*The image collection shown in the gallery*/
.galleryImg{
    
    border-radius: 30px;
    box-shadow: 1px 3px 8px 3px grey;
    height: 90%;
    margin: auto;
    position:static;
    transition: transform 0.3s ease;
    width:90%;
    
}

/*
Here the Psuedo-class :hover has been used to highlight the selected photo of the gallery
works by checking the state of the image object and when triggered by mouse-over applies the style changes 
*/
.galleryImg:hover{
    transform: scale(1.1);
}

/*Container for the contact form */
.formContact{

    border: 10px solid aliceblue;
    column-gap: 5px;
    display: grid;
    grid-template-columns: 1fr 5fr;
    margin: auto;
    row-gap: 10px;
    width: fit-content;
}


/*
Here the Psuedo-class :invalid has been used to highlight the form input with incorrect values 
works by checking the state of the form input and when it trigger the invalid event, applies the style changes 
*/
.formInput:invalid{
    background-color: lightcoral;
}


/*
Focus psuedo class used to highlight to the user what input of the form they are about to select. 
*/
.formInput:focus{
    background-color: lightblue;
}


/*
Using the valid and required pseudoclasses to check if an email is enters or correctly formatted and visualise this on the form. 
*/
.formInput:required:valid{
    background-color: lightgreen;
}

.formContact label{
    padding:5px;

}

.formContact textarea{
    height: 200px;
}

.buttonSubmit{
    grid-column-start: 1;
    grid-column-end: 3;
    margin: auto;
}

/*
Here the Psuedo-class :active has been used to highlight the button when pressed. 
works by checking the state of the button object and when triggered by clicking applies the style changes 
*/
.buttonSubmit:hover{
    background-color: silver;
}
.buttonSubmit:active{
    background-color: darkgrey;
}
footer{
    background: linear-gradient(white,lightblue, grey);
    min-height: 100px;
}